* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.interface {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
